@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

/*APPLIES A DEFINITE FONT, BOX-SIZING, MARGIN AND PADDING TO ALL ITEMS, THUS CANCELS MARGINS AND PADDINGS PUT BY DEFAULTS BY BROWSERS*/

* {
  font-family: "Raleway";
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

/*THE FLEX ITEMS IN NAV CAN BE PUT ON SEVERAL LINES, ITEMS ARE FLEX, DEFINES HOW THE FLEX ITEMS ARE POSITIONED ALONG THE MAIN AXIS 
(IN THAT CASE : FROM THE END OF THE LINE), DEFINES HOW THE FLEX ITEMS ARE POSITIONED ALONG THE SECOND AXIS (IN THAT CASE : CENTER)*/

nav {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*DEFINES THE LOGO'S WIDTH, PADDING AND MARGIN-RIGHT SO THAT LOGO IS POSITIONED AS REQUESTED*/

.link-nav-logo {
  width: 160px;
  padding: 0 24px;
  margin-right: auto;
}

/*DEFINES LOGOS' IMAGE'S WIDTH SO THAT IT'S NOT TOO BIG*/

.link-nav-logo a img {
  width: 100px;
}

/*CANCELS ANY TYPE OF BULLET POINT'S APPEARANCE, ITEMS ARE FLEX*/

.menu-nav {
  list-style-type: none;
  display: flex;
}

/*DEFINES THE LINKS' WIDTH, ITEMS ARE FLEX, INDICATES HOW SPACE IS DISTRIBUTED BETWEEN AND AROUND ITEMS ACCORDING TO THE MAIN AXIS 
(IN THAT CASE : AT THE CENTER), SETS A PADDING*/

.link-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
}

/*DEFINES WHAT HAPPENS WHEN USER HOVERS OVER LINKS*/

.link-nav:hover {
  border-top: 2px #0065fc solid;
  color: #0065fc;
}

/*SETS A MARGIN-BOTTOM AND A FONT SIZE FOR BOTH h1 AND p*/

.main {
  margin-bottom: 32px;
  font-size: 12px;
}

/*SETS A MARGIN-BOTTOM ONLY FOR h1*/

.main h1 {
  margin-bottom: 15px;
}

/*SETS A FONT-SIZE ANS A MARGIN-BOTTOM ONLY FOR p*/

.main p {
  font-size: 14px;
  margin-bottom: 25px;
}

/*DEFINES VISUAL ASPECT OF LOCATION DOT, HOW IT'S POSITIONED, ITS BACKGROUND COLOR AND BORDER RADIUS*/

.location-dot {
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
}

.search-bar {
  display: flex;
}

.search-location {
  border: 1px #f2f2f2 solid;
  padding: 15px;
}

/*DEFINES HOW IS WRITTEN WHAT'S IN THE PLACEHOLDER*/

#search-location::placeholder {
  color: black;
  font-weight: bold;
}

.search-button {
  cursor: pointer;
  background-color: #0065fc;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding: 5px 15px 5px 15px;
}

/*MAKES SURE THE MAGNIFYING GLASS BUTTON DOESN'T APPEAR IN DESKTOP VERSION*/

.search-button .fa-magnifying-glass {
  display: none;
}

.container-filtres {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 30px;
}

.container-filtres span {
  cursor: pointer;
  font-weight: bold;
  padding: 0px 20px;
}

.filtres-title {
  font-weight: bold;
}

.filtres {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  border-top: 2px #f2f2f2 solid;
  border-bottom: 2px #f2f2f2 solid;
  border-right: 2px #f2f2f2 solid;
  border-radius: 25px;
}

.icon-filtres {
  background-color: #DEEBFF;
  color: #0065fc;
  border-radius: 25px;
  padding: 15px;
}

.filtres:hover {
  background: #deebff;
}

.infos {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.fa-info.fa-classic {
  color: #0065fc;
  border: 1px #f2f2f2 solid;
  border-radius: 25px;
  padding: 5px 10px;
  margin-right: 10px;
}

.accomodations-and-popular {
  gap: 32px;
  margin-bottom: 32px;
  display: flex;
}

.accomodations-marseille {
  width: 65%;
  border-radius: 15px;
  background-color: #f2f2f2;
}

.accomodations-marseille h2 {
  padding-left: 20px;
  padding-top: 30px;
  margin-bottom: 32px;
}

.accomodations-container {
  gap: 16px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.accomodations-cards {
  box-shadow: 0px 1px 10px 1px lightgrey;
  gap: 16px;
  justify-content: space-around;
  width: 330px;
  min-height: 200px;
  border-radius: 25px;
  background-color: white;
  padding: 5px;
  transition: all 0.25s ease;
}

.accomodations-cards-img {
  height: 120px;
}

.accomodations-cards-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.accomodations-cards:hover {
  transform: scale(1.05);
}

.accomodations-cards a:visited {
  color: black;
}

.accomodations-cards-body {
  height: 80px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accomodations-title-text {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accomodations-cards-text {
  font-size: 14px;
}

.stars {
  height: 20px;
}

.fa-star.blue {
  color: #0065fc;
}

.fa-star.grey {
  color: #f2f2f2;
}

.show-more {
  list-style-type: none;
}

.show-more h4 {
  padding-left: 20px;
  padding-top: 30px;
  margin-bottom: 15px;
  display: flex;
}

.most-popular {
  flex: 1; /*OR FLEX-GROW:1 MEANS THAT THE DIV WILL GROW IN THE SAME PROPORTION AS THE WINDOW'S SIZE*/
  border: 1px solid #F2F2F2;
  padding: 0 25px 10px 25px;
  border-radius: 15px;
  background-color: #f2f2f2;
}

.most-popular-title {
  margin-top: 30px;
  margin-bottom: 32px;
  padding-right: 32px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.most-popular-container {
  flex-direction: column;
  gap: 32px;
  display: flex;
  justify-content: space-around
}

.most-popular-cards {
  box-shadow: 0px 1px 10px 1px lightgrey;
  flex: 1 1 0%; /*FLEX-GROW (THE DIV WILL GROW IN THE SAME PROPORTION AS THE WINDOW'S SIZE, FLEX-SHRINK AND FLEX-BASIS (TELLS AN ITEM TO STOCK TO AN IDEAL SIZE*/
  border-radius: 16px;
  background-color: white;
  padding: 5px;
  display: flex;
  transition: all 0.25s ease;
}

.most-popular-cards:hover {
  transform: scale(1.05);
}

.most-popular-cards a {
  width: 90%;
  display: flex;
}

.most-popular-cards-img {
  min-width: 130px;
  border: 4px solid transparent;
  object-fit: cover;
  width: 100%;
}

.most-popular-cards-img img {
  display: flex;
  width: 100%;
  height: 144px;
  object-fit: cover;
  border-radius: 15px 0px 0px 15px;
}

.most-popular-cards-body {
  font-size: 14px;
  margin: 10px 0 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.most-popular-title-text {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.most-popular-stars {
  height: 20px
}

.title {
  display: flex;
  justify-content: space-between;
}

.title h2 {
  margin-bottom: 30px;
  font-size: 25px;
  margin-top: 20px;
}

.activities-list {
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  display: flex;
  height: 600px;
}

.card-container {
  display: flex;
  width: calc(25% - 20px); /*PERFORMS CALCULATION WITH SPECIFIED PROPERTY VALUES*/
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.activities-Marseille {
  margin-bottom: 45px;
  max-width: 100%;
}

.activity-card {
  transition: all 0.25s ease;
}

.activity-card:hover {
  transform: scale(1.05);
}

.activities-Marseille.activities-list {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  gap: 3px;
}

.card-container:nth-child(1) /*MATCHES THE FIRST ELEMENT AMONG A GROUP OF SIBLINGS*/ {
  margin-left: 0px;
}

.card-container:nth-last-child(1) /*MATCHES THE LAST ELEMENT AMONG A GROUP OF SIBLINGS*/ {
  margin-right: 0px;
}

.card-item1 {
  height: 100%;
}

.activity-card {
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 1px 10px 1px lightgrey;
}

.card-link {
  border-radius: 16px;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

img {
  border-style: none;
}

.card-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  border-radius: 0 0 15px 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: 700;
  overflow: hidden;
}

h3 {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.card-item2 {
  height: 52%;
}

.card-item3 {
  height: 44%;
}

.card-item4 {
  height: 100%;
}

.card-item5 {
  height: 44%
}

.card-item6 {
  height: 52%;
}



footer {
  padding-left: 15px;
  margin-top: 70px;
  columns: 3;
  column-gap: 200px;
  display: flex;
  background-color: #f2f2f2;

}

.container-footer {
  padding: 8px;
  line-height: 2;
}

.container-footer ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}



@media screen and (max-width: 768px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }

  .link-nav {
    border-bottom: 3px solid #f2f2f2;

  }

  .link-nav:hover {
    background-color: white;
    border-top: transparent;
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }

  .link-nav-logo {
    margin: auto;
  }

  .menu-nav {
    border-top: transparent;
    justify-content: center;
    width: 100%;
  }

  .main p {
    padding-left: 20px;
    width: 100%;
  }

  .search-bar {
    margin-left: 20px;
    width: 100%;;
  }

  .location-dot {
    border: 2.2px solid #f2f2f2;
  }

  .search-location {
    width: 240px;
  }

  .search-button {
    border-radius: 10px;
    display: block;
  }

  .container-filtres .filtres-title {
    margin-bottom: 20px;
    width: 100%;
  }

  .container-filtres .filtres {
    margin: 10px;
    font-size: 15px;
  }

  .container-filtres i {
    font-size: 20px;
  }

  .infos {
    margin: 20px 10px 35px;
    width: 100%;
  }

  .accomodations-and-popular {
    flex-direction: column;
    width: 100%;
  }

  .most-popular-container {
    width: auto;
  }

  .most-popular-title {
    padding-bottom: 15px;
  }

  .most-popular-cards a {
    width: 100%;
  }

  .main {
    width: 100%;
    margin: auto;
  }

  .accomodations-container {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
    display: flex;
  }

  .accomodations-marseille {
    padding: 15px;
    width: auto;
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .accomodations-cards {
    width: 100%;
    transition: none;
  }

  .accomodations-cards:hover {
    transform: none;
  }

  .most-popular-cards {
    transition: none;
  }

  .most-popular-cards:hover {
    transform: none;
  }

  .title h2 {
    padding-left: 25px;
  }

  .activities-list {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .card-container:nth-child(1) {
    margin-left: 15px;
  }

  .card-container:nth-last-child(1) {
    margin-right: 15px;
  }

  .card-container {
    margin: 15px;
    width: auto;
  }

  .activity-card {
    transition: none;
  }

  .activity-card:hover {
    transform: none;
  }


  .activity-card {
    transition: none;
  }

  .activity-card:hover {
    transform: none;
  }

  .activity-card.card-item2 {
    height: 300px;
    margin-bottom: 30px;
  }

  .activity-card.card-item3 {
    height: 300px;
  }

  .activity-card.card-item4 {
    height: 300px;
  }

  .activity-card.card-item5 {
    margin-bottom: 30px;
    height: 300px;
  }

  .activity-card.card-item6 {
    height: 300px;
  }

  .main h1 {
    padding-left: 20px;
    font-size: 24px;
  }

  .container-filtres {
    margin: 20px;
    display: flex;
  }

  .most-popular {
    padding: 15px;
    border-radius: 0;
    order: -1;
    width: 100%;
    padding-bottom: 16px;
  }

  .search-button .fa-solid.fa-magnifying-glass {
    border: 2.2px solid #0065fc;
    display: block;
    background-color: #0065fc;
    color: white;
    border-color: #0065fc;
    font-weight: bold;
  }

  .search-button span {
    display: none;
  }

  .container {
    align-items: center;
    justify-content: center;
    height: auto;
  }

  footer {
    flex-direction: column;
    padding-right: 0;
  }

}

@media screen and (max-width: 991px) {
  .most-popular {
    flex-direction: column-reverse;
    width: 100%;
  }

  body {
    padding-left: 0;
    padding-right: 0;
  }

  .container-filtres {
    flex-direction: row;
  }

  .container-filtres .filtres {
    margin: 10px;
  }

  }